<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="styleSheet">
    <title>TOP</title>
</head>
<body>
<div class="header-contents">
    <h1>匿名掲示板</h1>
</div>
<div class="main-contents">
    <form method="get" th:action="@{/}">
        日付
        <input type="date" name="startDate" th:value="${startDate}">
        <input type="date" name="endDate" th:value="${endDate}">
        <input type="submit" value="絞込">
    </form>
    <br />
    <a href="/new">
        <button class="new-button" type="button">新規投稿</button>
    </a>
    <div class="message-icon" th:each="content : ${contents}">
        <div>
            ID : <span th:text="${content.id}"/>
        </div>
        <div class="text">
            投稿 : <span th:text="${content.content}"/>
        </div>
        <div class="text">
            作成日 : <span th:text="${content.createdDate}"/>
        </div>
        <div class="text">
            更新日 : <span th:text="${content.updatedDate}"/>
        </div>
        <div class="errorMessages" th:if="${errorMessages != null}">
            <div th:if="${reportId == content.id}">
                <ul>
                    <li th:each="errorMessage : ${errorMessages}" th:text="${errorMessage}" style="color: red;">></li>
                </ul>
            </div>
        </div>
        <div class="delete-button">
            <form th:action="@{/delete/{id}(id=${content.id})}" th:method="delete">
                <input type="submit" value="削除">
            </form>
        </div>
        <div class="edit-button">
            <a th:href="@{/edit/{id}(id=${content.id})}">
                <input type="button" value="編集">
            </a>
        </div>
        <div class="comment-button">
            <form th:method="post" th:action="@{/reply/{messageId}(messageId=${content.id})}" th:object="${formModel}">
                <div class="form-area">
                    <textarea class="tweet-box" th:field="*{content}" size="20" maxlength="200" /><br/>
                    <input type="submit" value="返信" />
                </div>
            </form>
            <div th:each="comment : ${comments}">
                <div th:if="${comment.messageId == content.id}">
                    <div class="comment-item">
                        <div>
                            ID : <span th:text="${comment.id}"/>
                        </div>
                        <div class="text">
                            返信 : <span th:text="${comment.content}"/>
                        </div>
                        <div class="text">
                            返信日 : <span th:text="${comment.createdDate}"/>
                        </div>
                        <div class="text">
                            更新日 : <span th:text="${comment.updatedDate}"/>
                        </div>
                        <div class="deleteComment-button">
                            <form th:action="@{/deleteComment/{id}(id=${comment.id})}" th:method="delete">
                                <input type="submit" value="削除">
                            </form>
                        </div>
                        <div class="editComment-button">
                            <a th:href="@{/editComment/{id}(id=${comment.id})}">
                                <input type="button" value="編集">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
